table, td, th {
    border: 3px solid;
    Border-collapse: collapse;
    /*margin: auto auto;*/
    }
    
th {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    vertical-align: middle;
    padding: 15px;
}
  
tr:nth-child(even) {
    opacity: 0.6;
}

td:hover {
    background-color: black;
}
    
h1 {
    font-family: monospace;
}

body {
    text-align: center;
    background-image: url("universe.jpg");
    color: chartreuse;
}

a:visited {
    color: DeepPink;
}

p:first-of-type {
    color: yellow;
}
#wrap { 
	width: 550px; 
	margin: 0 auto; 
	overflow: auto;
}