table, td, th {
    border: 4px solid;
    Border-collapse: collapse;
    /*margin: auto auto;*/
    }
    
h1 {
    font-family: monospace;
}

body {
    text-align: center;
    background-image: url("universe.jpg");
    color: chartreuse;
}

#wrap { 
	width: 550px; 
	margin: 0 auto; 
	overflow: auto;
}